h1,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  color: #222;
  background-color: #abc;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

#app {
  max-width: 30rem;
  margin: 0 auto;
  background-color: white;
  padding: 0.9em;
  box-shadow: 0px 0.25rem 1rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.app-hide {
  display: none;
}

#title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#todo-input {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

#todos {
  margin-bottom: 2rem;
}

.todo {
  margin-bottom: 0.5em;
  display: flex;
}

.todo s {
  display: flex;
  flex-grow: 1;
  background-color: rgba(0, 128, 0, 0.1);
}

.todo-text {
  flex-grow: 1;
  padding: 0.5em 0;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 0.5s;
}

.todo-text:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.todo-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.6);
  border: none;
  transition: background-color 0.5s;
}

.todo-remove:hover {
  background-color: rgba(255, 0, 0, 0.9);
}

#todo-count {
  padding: 0.5em;
  font-weight: bold;
  text-align: right;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
}

#todo-users-btn {
  font-size: 0.9rem;
  padding: 0.5em;
  margin-bottom: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}

#todo-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(240, 255, 255, 0.5);
}

#todo-users li {
  padding: 0.5em;
  cursor: pointer;
}

#loading {
  font-size: 2rem;
  padding: 1.5em;
}
