body {
    padding: 0;
    margin: 0;
}

#App {
    width: 1200px;
    margin: 0 auto;
}

header > h1 {
    text-align: center;
    padding: 10px;
}

section {
    text-align: center;
}

section input[type="text"] {
    width: 50%;
    height: 50px;
    font-size: 25px;
    padding-left: 13px;
}

section > .input-btn {
    font-size: 25px;
    height: 50px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    margin-left: 12px;
    padding: 5px 10px;
    cursor: pointer
}

.gray-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(100, 100, 100, 0.5);
}

.gray-bg > .modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.gray-bg > .modal-wrapper .input-error-box {
    background: white;
    padding: 15px 25px;
    box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.7);
    min-width: 150px;
}

.gray-bg > .modal-wrapper .input-error-box > h2 {
    text-align: center;
    color: red;
}

.gray-bg > .modal-wrapper .input-error-box > .modal-content {
    text-align: center;
    margin-top: 20px;
    font-size : 20px;
}

.gray-bg > .modal-wrapper .input-error-box > .modal-close {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    border: 1px solid #000000;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.gray-bg > .modal-wrapper .input-error-box > .modal-close:hover {
    border: 1px solid rgba(100, 100, 100, 0.2);
    background: rgba(100, 100, 100, 0.2);
    color: white;
}

