{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "import/extensions": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off"
  }
}
