* { 
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img { 
  width: 100%;
}

.result-li {  
  max-width: 600px;
  padding: 10px;
  border: 1px solid black;
  margin: 20px 0px ;
}

.result-title { 
  margin: 10px 0px; 
}

.result-div { 
  margin-right: 5px;
  border-radius: 20px;
  padding: 5px;
  background-color: bisque;
  font-size: 12px;
  cursor: pointer;
}

.result-span-history { 
  display: inline-block;
  margin: 10px 10px 0px 10px;
  padding: 5px;
  font-size: 16px;
  background-color: aquamarine;
  border-radius: 10px;
  cursor: pointer;
}