body {
    margin: 0;
}
ul {
    padding-left: 0;

}
li {
    list-style: none;
}

#todo-list {
    display: flex;
    flex-direction: column;
}
#todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 15px 15px 10px;
    border-bottom: 1px solid #ededed
}
.todo-text {
    margin-right: 10px;
}
.completed-todo {
    text-decoration: line-through;
}
.remove-todo-btn {
    margin-left: 10px;
}
