@import './reset.css';
@import './app.css';
@import './users.css';
@import './todoList.css';

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
}
