#user-list{
  display: flex;
  justify-content: center;
}

#user-list ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}
#user-list li{
  cursor: pointer;
}
