html,
body,
div,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  background-color: #202124;
}

#app {
  padding: 20px;
}

#search-keyword {
  min-width: 420px;
  margin: 20px 0;
  padding: 15px 20px;
  border: 0;
  border-radius: 30px;
  color: #fff;
  background-color: #303134;
  outline: none;
}

#search-history {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
}

#search-history li {
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid #3c4043;
  color: #fff;
  font-size: 0.8em;
  cursor: pointer;
}

#search-result {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#search-result > div > img {
  height: 200px;
}

.no-data {
  color: #fff;
  margin-left: 10px;
}
