* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

#root {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
}

.todo-complete {
  text-decoration: line-through;
}

#section-users ul {
  display: flex;
  flex-wrap: wrap;
}

#section-users li {
  padding: 2px 5px;
}

#section-users li:hover,
.selected {
  background-color: brown;
  color: white;
}

.hide {
  display: none;
}
