.search-result {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
  }

.gif-wrapper {
  padding : 1px;
  border: rgb(166, 255, 0) 1px solid;
}

/* grid 밑에 애들 이미지 */
.gif-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}