.loading__section{
    position: fixed;
    top:0;
    left:0;
    background-color: gray;
    z-index: 9;
    width:100%;
    height:100%;
    opacity: .5;
}
.hide{
    display:none;
}
.loading__section__text{
    position:absolute;
    top:50%;
    left:50%;
    z-index:99;
    transform: translate(-50%, -50%);
}
.loading__section__text > p{
    font-size:16px;
    font-weight: 600;
    color:#fff;
}

.list__todo__section{
    background-color: gray;
}
.App{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}