* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 4px 8px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(255, 255, 255, 0.85);
}

.overlay.loading {
  display: block;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
}

/* Components */
#app {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 1rem 2rem;
}

#app h1 {
  padding: 0.5rem 0;
}

section {
  padding: 0.5rem 0;
}

section h2 {
  padding: 0.5rem 0;
}

section.todo-input form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section.todo-input form label {
  width: 100%;
  margin-bottom: 3px;
}

input#content {
  flex-grow: 1;
  height: 1.8rem;
  font-size: 0.9rem;
  margin-right: 1rem;
  padding: 3px 6px;
  border: 1px solid #666;
  border-radius: 3px;
}

ul.todo-items-list {
  list-style: none;
  width: 100%;
  height: 300px;
  overflow: auto;
}

li.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
}

li.todo-item label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

input.todo-item-checkbox {
  cursor: pointer;
  width: 1.1rem;
  height: 1.1rem;
}

span.todo-item-content {
  margin-left: 0.8rem;
}
