li {
    list-style: none;
}

#app {
    width: 1180px;
    display: block;
    justify-content: center;
}

#search-keyword {
    width: 600px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
}

#search-history {
    display: flex;
}

#search-history .hisotryLI {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin: 0 10px;
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
