html {
    font-size: 10px;
}


body {
    margin: 0rem;
    padding: 0rem;
}

#app {
    padding: 0.8rem;
}

#search-input-frame {
    width: 100%;
    max-width: 20rem;
    top: 3rem;
    z-index: 100;
    position: fixed;
}

#search-result {
    top: 6rem;
    position: relative;
}

#search-keyword {
    width: 100%;
    max-width: 20rem;
    line-height : 3rem;
    padding: 0rem;
    margin: 0rem;
    font-size: 1.4rem;

}
#search-history-frame {
    width: 100%;
    max-width: 20rem;
    position: relative;
}

#search-history {
    background-color: #fff;
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding : 0;
    border : solid 0.15rem #EAEAEA;
    font-size: 1.4rem;
 }

 li {
    padding : 0.2rem 0.5rem 0.2rem 0.5rem;
 }