/* BODY */
body {
  background-color: #2f3542;
  color: #f0f8ff;
}

header {
  position: relative;
}

header h1 {
  text-align: center;
  font-size: 4em;
}

header div {
  display: flex;
  position: absolute;
  top: -25px;
  left: 0;
}

header h2 {
  color: sandybrown;
  margin: 0;
}

header span {
  color: sandybrown;
  font-weight: bold;
  font-size: 1.5em;
}

.loading-gif {
  display: none;

  width: 50px;
  height: 50px;

  background-image: url('../svg/loading.gif');
  background-size: contain;
  position: fixed;

  top: 50%;
  left: 50%;
}

.loading-gif.on {
  display: block;
}

/* INNER */
.inner {
  max-width: 420px;
  margin: 0 auto;
}

/* TODO LIST */
#todo-list {
  max-height: 270px;
  overflow-y: auto;
}

/* TODO INPUT */
.todo-interface {
  display: flex;
  align-items: center;
}

#todo-input {
  height: 32px;
  background: none;
  border: none;
  color: #f0f8ff;
  padding: 20px 10px;
  font-size: 1.3rem;
  flex: 1;
  margin-right: 10px;
}

#todo-removeAll {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #920000;
  cursor: pointer;
}

#todo-removeAll:hover {
  color: #ff0000;
}

/* TODO TEXT */

.todo-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 10px;

  border: #a9a9a9 solid 2px;
  border-radius: 50%;
  box-sizing: border-box;

  cursor: pointer;
}

.todo-checkbox:hover {
  background-color: #96a7ce;
  background-position: center;
  background-repeat: no-repeat;
}

.todo-checkbox.checked {
  background-image: url('../svg/checkmark.svg');
  background-size: 12px;
  background-color: #f0f8ff;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.todo-text p {
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.del-btn {
  width: 12px;
  height: 12px;
  background-image: url('../svg/trash.svg');
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  opacity: 0.4;

  cursor: pointer;
}

.strket-text {
  text-decoration: line-through;
}

/* SCROLL-BAR */
#user-list::-webkit-scrollbar,
#todo-list::-webkit-scrollbar {
  width: 10px;
}
#user-list::-webkit-scrollbar-thumb,
#todo-list::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
#user-list::-webkit-scrollbar-track,
#todo-list::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

#todo-count p {
  text-align: right;
  font-size: 1.5rem;
}

/* USERLIST */
#user-list {
  margin-top: 50px;
}

#user-list > ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

#user-list li {
  display: inline-block;

  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(88, 86, 86);

  cursor: pointer;
}

#user-list li:hover {
  background-color: rgba(176, 183, 184, 0.8);
}

#user-list li.on {
  background-color: rgba(250, 128, 114, 0.8);
}
