#app {
  display: grid;
  width: 100%;
  grid-gap: 20px;
}

#app > div {
  padding: 10px;
}

.user-grid {
  grid-row: 1;
  grid-column: 1/2;
}

.todo-grid {
  grid-row: 1;
  grid-column: 2/2;
  border: 2px solid rgba(233, 171, 88);
  background-color: rgb(204, 255, 51, 0.5);
}

.selected {
  font-weight: 400;
  font-size: 1.6em;
}

input {
  width: 100%;
}

.remove-button {
  background-color: transparent;
  border: 1px solid grey;
}
