.item-wrap {
    cursor: pointer;
}

.item-wrap .txt.completed {
    text-decoration: line-through;
    color: #9E9E9E;
}

.user-list ul {
    height: 400px;
    overflow-y: scroll;
}

.user-list ul .selected {
    color: blue;
    font-weight: bold;
}

.user-list ul li {
    cursor: pointer;
}
