form {
  float: left;
}

#todo-list p,
#user-list li,
button {
  cursor: pointer;
}

#todo-list ul {
  padding-left: 20px;
}

#todo-list p {
  display: inline-block;
}

.text_complete {
  text-decoration: line-through;
}

#list-wrapper {
  display: flex;
  margin-top: 20px;
}

#user-list {
  margin-right: 30px;
}

#user-list ul {
  height: 300px;
  overflow-y: scroll;
  padding: 0 20px;
}

#user-list li {
  margin-bottom: 4px;
}
