#search-history {
  margin: 10px;
}

.history-items {
  display: inline-block;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 4px 4px;
  cursor: pointer;
}

.btn-delete {
  all: reset;
  color: red;
  border: none;
  background: none;
  padding: 2px 2px;
  margin-left: 4px;
  cursor: pointer;
}
