body {
    margin: 0;
}
ul {
    padding-left: 0;
    margin: 0;
}
li  {
    list-style: none;
}




/*searchResult*/
#app {

    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.search-input {
    box-sizing: border-box;
    margin-top: 50px;
    height: 50px;
    width: 500px;
    font-size: 18px;
    padding-left: 15px;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #f76707;
    border-radius: 50%;
}

.keyword-container {
    display: flex;
}
.keyword {
    font-size: 28px;
    color: #333;
    margin-right: 5px;
}
.keyword-count {
    font-size: 12px;
    color: #fff;
}
.s-no-result {
    font-size: 18px;
}


.img-card-list {
    display: flex;
    flex-wrap: wrap;
}
.img-card {
    width: 33.3333%;
    height: auto;
    margin-right: 12px;
}
.img-card-img {
    max-width: 100%;
}


