.users {
  display: flex;
  list-style: none;
  width: 100%;
  overflow-x: auto;
}
.user-name {
  margin-right: 12px;
  border: 1px solid lightgray;
}

.trello {
  display: flex;
  flex-direction: row;
}

.todoList {
  padding-bottom: 100px;
}
